<!DOCTYPE html>
<html lang="de">
    <head>
        <title>die Achsen.</title>
    </head>
    <body>

        <header>
            <p>
            <a href="/login">
            <img border="0" src="logo.jpg" width="100" height="100"
            title="Zur Startseite :)">
            </a>
            </p>
            <h1>die Achsen.</h1>
        </header>

        <article>
            <img src="" alt="">
            
            <!-- die Größen: -->

            <form action="/brett" method="POST">
                    <h2>die Höhe.</h2>
                    <fieldset>
                            <input type="radio" id="low" name="Hoehe" value="low">
                            <label for="low">Low</label>
                            <input type="radio" id="mid" name="Hoehe" value="mid">
                            <label for="mid">Mid</label>
                            <input type="radio" id="high" name="Hoehe" value="high">
                            <label for="high">High</label>
                    </fieldset>
                </form>
            <!-- Design: -->

            <h2>das Design.</h2>

            <button type="button" id="blackAchsen">Schwarz</button>
            <button type="button" id="whiteAchsen">Weiß</button>
            <button type="button" id="redAchsen">Rot</button>
            <button type="button" id="blueAchsen">Blau</button>
            <button type="button" id="greenAchsen">Grün</button>
            <button type="button" id="yellowAchsen">Gelb</button>

            <!-- Hier vor und zurück button-->
            <a href="/brett">
            <button type="button" id="return1">zurück</button>
            </a>
            <a href="/rollen">
            <button type="button" id="next3">weiter geht's</button>
            </a>
            
        </article>

        <footer>
        </footer>
        
    </body>
</html>