<!DOCTYPE html>
<html lang="de">
    <head>
        <title>deine Bestellung.</title>
    </head>
    <body>

        <header>
            <img src="" alt="">
            <h1>deine Bestellung.</h1>
        </header>

        <article>
            <img src="" alt="">
            <button type="button" id="dochNochNicht">doch noch nicht.</button>
            <button type="button" id="registrieren">registrieren.</button>
            <button type="button" id="logIn">log in.</button>
        </article>

        <footer>
        </footer>
        
    </body>
</html>