<!DOCTYPE html>
<html lang="de">
    <head>
        <title>das Brett.</title>
    </head>
    <body>

        <header>
            <!-- Das Logo: -->
            <p>
            <a href="/start">
            <img border="0" src="logo.jpg" width="100" height="100"
            title="Zur Startseite :)">
            </a>
            </p>
            <h1>das Brett.</h1>
        </header>
            <img src="" alt="">

            <!-- Hier die Größen-->
            <form action="/brett" method="POST">
                <h2>die Größe.</h2>
                <fieldset>
                        <input type="radio" id="7.375" name="Groeße" value="7.375">
                        <label for="7.375">7.375mm</label>
                        <input type="radio" id="7.75" name="Groeße" value="7.75">
                        <label for="7.75">7.75mm</label>
                        <input type="radio" id="8.0" name="Groeße" value="8.0">
                        <label for="8.0">8.0mm</label>
                        <input type="radio" id="8.125" name="Groeße" value="8.125">
                        <label for="8.125">8.125mm</label>
                        <input type="radio" id="8.25" name="Groeße" value="8.25">
                        <label for="8.25">8.25mm</label>
                        <input type="radio" id="8.375" name="Groeße" value="8.375">
                        <label for="8.375">8.375mm</label>
                </fieldset>

            <!-- Hier die Farben-->

            <button type="button" id="black">Schwarz</button>
            <button type="button" id="white">Weiß</button>
            <button type="button" id="red">Rot</button>
            <button type="button" id="blue">Blau</button>
            <button type="button" id="green">Grün</button>
            <button type="button" id="yellow">Gelb</button>

            <button type="button" id="black2">Schwarz</button>
            <button type="button" id="white2">Weiß</button>
            <button type="button" id="red2">Rot</button>
            <button type="button" id="blue2">Blau</button>
            <button type="button" id="green2">Grün</button>
            <button type="button" id="yellow2">Gelb</button>

            <!-- Hier das Design-->

            <h2>das Design.</h2>

            <button type="button" id="muster1">Muster1</button>
            <button type="button" id="muster2">Muster2</button>
            <button type="button" id="muster3">Muster3</button>
            <button type="button" id="muster4">Muster4</button>
            <button type="button" id="muster5">Muster5</button>
            <button type="button" id="muster6">Muster6</button>
        </form>
            <!-- Hier vor und zurück button-->
            <div>
            <a href="/start">
            <button type="button" id="return">zurück</button>
            </a>
            <a href="/achsen">
            <button type="button" id="next2">weiter geht's</button>
            </a>
            </div>
        <footer>
        </footer>
        
    </body>
</html>