<!DOCTYPE html>
<html>
    <header>
        <p>
        <a href="/start">
        <img border="0" src="logo.jpg" width="100" height="100"
        title="Zur Startseite :)">
        </a>
        </p>
        <h1>dein Produkt.</h1>
    </header>
    <head>
        <link href="main.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <form action="/gekauft" method="POST">
        <div class="card">
            
            Danke für deine Bestellung!
            
        </div>
        </form>
    </body>
</html>