<!DOCTYPE html>
<html lang="de">
    <head>
        <title>die Rollen.</title>
    </head>
    <body>

        <header>
            <p>
            <a href="/login">
            <img border="0" src="logo.jpg" width="100" height="100"
            title="Zur Startseite :)">
            </a>
            </p>
            <h1>die Rollen.</h1>
        </header>

        <article>
            <img src="" alt="">
            
            <!-- Härte: -->

            <form action="/brett" method="POST">
                <h2>die Härte.</h2>
                <fieldset>
                    <input type="radio" id="78A" name="Haerte" value="78A">
                    <label for="78A">78A</label>
                    <input type="radio" id="83A" name="Haerte" value="83A">
                    <label for="83A">83A</label>
                    <input type="radio" id="86A" name="Haerte" value="86A">
                    <label for="86A">86A</label>
                    <input type="radio" id="92A" name="Haerte" value="92A">
                    <label for="92A">92A</label>
                    <input type="radio" id="97A" name="Haerte" value="97A">
                    <label for="97A">97A</label>
                    <input type="radio" id="99A" name="Haerte" value="99A">
                    <label for="99A">99A</label>
                    <input type="radio" id="100A" name="Haerte" value="100A">
                    <label for="100A">100A</label>
                    <input type="radio" id="101A" name="Haerte" value="101A">
                    <label for="101A">101A</label>
                    <input type="radio" id="102A" name="Haerte" value="102A">
                    <label for="102A">102A</label>
                    <input type="radio" id="81B" name="Haerte" value="81B">
                    <label for="81B">81B</label>
                </fieldset>
            </form>

            <!-- Breite: -->

            <form>
                    <h2>die Breite.</h2>
                    <fieldset>
                        <input type="radio" id="52" name="Breite" value="52">
                        <label for="52">52mm</label>
                        <input type="radio" id="53" name="Breite" value="53">
                        <label for="53">53mm</label>
                        <input type="radio" id="54" name="Breite" value="54">
                        <label for="54">54mm</label>
                        <input type="radio" id="55" name="Breite" value="55">
                        <label for="55">55mm</label>
                        <input type="radio" id="58" name="Breite" value="58">
                        <label for="58">58mm</label>
                        <input type="radio" id="64" name="Breite" value="64">
                        <label for="64">64mm</label>
                    </fieldset>

            <!-- Design -->

            <button type="button" id="blackRollen">Schwarz</button>
            <button type="button" id="whiteRollen">Weiß</button>
            <button type="button" id="redRollen">Rot</button>
            <button type="button" id="blueRollen">Blau</button>
            <button type="button" id="greenRollen">Grün</button>
            <button type="button" id="yellowRollen">Gelb</button>
            </form>
            <!-- Hier vor und zurück button-->
            <a href="/achsen">
            <button type="button" id="return1">zurück</button>
            </a>
            <a href="/endprodukt">
            <button type="button" id="next3">weiter geht's</button>
            </a>

        </article>

        <footer>
        </footer>
        
    </body>
</html>